:root {
  --border: #ceb7b7;
  --border-gray: #353131;
  --background-color: #000000f8;
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--background-color);
  position: relative;
  transition-duration: 0.7s;
}

body {
  position: relative;
  font-family: inherit;
  font-size: 62.5%;
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* FONTS FACE */
@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueMedium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueUltrabold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueRegular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueMachina.otf") format("otf");
  src: local("PPNeue"), url("../fonts/PPNeueMachina.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "PPObject";
  src: local("PPObject"),
    url("../fonts/PPObjectSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}

/* VARIABLES */

.w-4 {
  width: 50px;
  height: 50px;
  border-right: 1px solid var(--border-gray);
}

.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.abs-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* TYPO */

p {
  font-family: "PPNeue", sans-serif;
  font-weight: 100;
}

/* COLOR */
.yellow {
  color: #8fff86;
}

.gray {
  color: rgb(128, 104, 104);
}

/* HEADER */
header {
  position: fixed;
  width: 50px;
  border-right: 1px solid var(--border-gray);
  height: 100%;
  background-color: #000000;
  z-index: 99;
}

.logo_sidebar {
  position: fixed;
  z-index: 99;
  background-color: #000000;
  height: 50px;
  border-bottom: 1px solid var(--border-gray);
  top: 0;
}

/* FOOTER */

footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  height: 50px;
  border-top: 1px solid var(--border-gray);
  width: 100%;
  background-color: #000000;
}

.main {
  z-index: 10;
  position: relative;
}

/* MAIN */

.hero {
  display: flex;
  justify-content: center;
  height: 1000px;
  flex-direction: column;
  align-items: center;
}

.reveal {
  opacity: 1;
  transition: transform 0.5s;
}

.lines {
  height: 120px;
  margin-top: 5rem;
  border-left: 1px solid rgba(255, 255, 0, 0.212);
}

.border-thin {
  outline: 1px solid var(--border-gray);
  border-radius: 1px;
}

.ai {
  outline: 1px solid var(--border);
  color: var(--border);
  font-size: 14px;
  padding: 2px 14px;
}

.rot-0:hover .rot-1 {
  transform: rotate(-2deg);
  /* opacity: 0.3; */
}

.rot-0:hover .rot-2 {
  transform: rotate(-4deg);
  /* opacity: 0.4; */
}

.rot-0:hover .rot-3 {
  transform: rotate(-6deg);
  /* opacity: 0.5; */
}

.rot-0:hover .rot-4 {
  transform: rotate(-8deg);
  /* opacity: 0.6; */
}

.rot-0:hover .rot-5 {
  transform: rotate(-10deg);
}

.pointer {
  cursor: pointer;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, yellow 100%);
  filter: blur(225px);
}

.pink__gradient {
  background: linear-gradient(90deg, #000000 0%, #000000 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(0, 0, 0, 0.6);
  filter: blur(750px);
}

.big {
  font-size: 45rem;
  letter-spacing: -30px;
  opacity: 1%;
  color: white;
}

.small {
  animation: loop 60s linear infinite;
  border: 2px solid red;
  width: auto;
  height: 100%;
}

@keyframes loop {
  0% {
    transform: translateX(50%);
  }

  to {
    transform: translateX(-70%);
  }
}

.icons {
  fill: gray;
  transition: fill 1000ms;
}

.icons:hover {
  fill: yellow;
}

.icon_defaut {
  position: relative;
}

.icon_hover svg {
  font-size: 20px;
  fill: gray;
  transition: all 500ms;
}

.icon_default svg {
  fill: yellow;
  font-size: 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.violet {
  color: violet;
}

.borders {
  border: 1px solid black;
}

.bordero {
  border: 1px solid rgb(61, 54, 54);
}

.border-b {
  border-bottom: 1px solid rgb(61, 54, 54);
}

.board-num {
  font-size: 15px;
  font-family: 'PPNeue';
  color: gray;
}