:root {
  --border: rgb(92, 86, 86);
}

/* FONTS FACE */

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueMedium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueUltrabold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueRegular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PPNeue";
  src: local("PPNeue"), url("../fonts/PPNeueMachina.otf") format("otf");
  src: local("PPNeue"), url("../fonts/PPNeueMachina.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "PPObject";
  src: local("PPObject"),
    url("../fonts/PPObjectSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #13151a;
  position: relative;
  transition-duration: 0.7s;
  transition-property: all;
  -webkit-tap-highlight-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

body {
  position: relative;
  font-family: inherit;
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

/* VARIABLES */

.w-4 {
  width: 40px;
  height: 40px;
  border-right: 1px solid var(--border);
}

.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.abs-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* TYPO */

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

p {
  font-family: "PPNeue", sans-serif;
  font-weight: 100;
}

/* COLOR */

.yellow {
  color: #8fff86;
}

.gray {
  color: #7d7d7d;
}


/* HEADER */
header {
  position: absolute;
  left: 0;
  width: 40px;
  border-right: 1px solid var(--border);
  height: 100%;
  background-color: #000000;
  z-index: 9;
}

.logo_sidebar {
  position: absolute;
  top: 0;
  z-index: 9;
  background-color: #000000;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--border);
}

/* FOOTER */

footer {
  position: absolute;
  z-index: 9;
  bottom: 0;
  height: 40px;
  border-top: 1px solid var(--border);
  width: 100%;
  background-color: #000000;
}

.fix {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 8px;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: hidden;
  z-index: 5;
}

/* MAIN */


.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;

}