
---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Me">
    <h2 class="text-white text-3xl">How are you ?</h2>

    <h2 class="text-white text-3xl">Return to 

    <a href="/">Home</a>
    </h2>
</Layout>