---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <main id="about">
    <div class="hero">
      <span class="gray text-sm">ABOUT</span>
      <h1 class="font-PPObject text-center leading-none tracking-tight">
        <span>Hi, I’m Amangoua</span>, <br />
        <span>a <span class="yellow">creative</span> developer</span>
      </h1>
      <div>
        <p
          class="font-PPNeue gray font-thin text-base max-w-[700px] mx-auto text-center"
        >
          I bring value to web development projects by merging technical
          expertise with creativity and aesthetics.
        </p>
      </div>
    </div>
  </main>
</Layout>
