---
import '../styles/index.css'
interface Props{
}

import { AiOutlineMinus } from "react-icons/ai";
import { FaRegSquareFull } from "react-icons/fa6";
import { RxCross1 } from "react-icons/rx";

---



<div class="logo_sidebar w-full relative">
 <div class="flex justify-between items-center h-full">
    <div class="w-4 flex-center text-white">
        A
    </div>
    <div class="text-white font-normal text-lg font-PPNeue abs-center">
      <a href="/">
            amangoua<span class="text-yellow-300 px-1">{'<thierry>'}</span></h4>
            </a>
    </div>
    <div class="flex-center gap-3 p-2">
       <a href="/">
            <AiOutlineMinus size={13} color='gray'/>
         </a>
       <a href="#">
            <FaRegSquareFull size={13} color='gray'/>
       </a>
        <a href="#">
            <RxCross1 size={13} color='gray'/>
         </a>    
</div>
 </div>
</div>