---
import '../../styles/index.css'
import Socials from './Socials.astro'
interface Props{
}

---

<footer>
    <div class="w-full h-full flex justify-between items-center">
        <div class="flex-center w-4">
            <span class="w-2 h-2 rounded-full animate-bounce bg-yellow-300"></span>
        </div>
         <div class="gray font-PPNeue font-thin tracking-tight text-sm gap-5 hidden md:flex abs-center">
           <span>Based in Abidjan</span> 
           <span>Local time <span class="time"></span>11h20</span>
        </div>
        <Socials />
    </div>
</footer>



