---
import { FaInstagram } from "react-icons/fa";
import { FaLinkedin } from "react-icons/fa";
import {  FaXTwitter} from "react-icons/fa6";
import { FaGithub } from "react-icons/fa";

---

<div class="flex gap-4 pr-5">
<FaInstagram color="gray" size={16}/>
<FaLinkedin color="gray" size={16}/>
<FaXTwitter color="gray" size={16}/>
<FaGithub color="gray" size={16}/>
</div>