---
import Header from "../components/Header/Header";
import Sidebar from "../components/Header/Sidebar";
import Footer from "../components/Footer/Footer.astro";
import "../styles/index.css";
import Lenis from "lenis";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src="https://unpkg.com/lenis@1.1.2/dist/lenis.min.js"
    ></script>
  </head>
  <ViewTransitions />

  <body>
    <div class="frame-main">
      <div class="inner">
        <Header client:only />
        <Sidebar client:only />
        <Footer client:component-hydration />
        <div class="main">
          <slot />
        </div>
        <div class="fixed top-0 left-0 bottom-0 right-0 -z-10">
          <div
            class="absolute -z-[0] w-[10%] h-[10%] top-0 right-0 pink__gradient"
          >
          </div>
          <div
            class="absolute -z-[1] w-[70%] h-[70%] right-0 rounded-100 bottom-40 white__gradient"
          >
          </div>
          <div
            class="absolute -z-[0] w-[25%] h-[25%] right-0 top-0 blue__gradient"
          >
          </div>
          <div
            class="big font-PPNeue w-[3000px] flex gap-28 lowercase fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold"
          >
            <span class="small inline">AMANGOUA</span>
            <span class="small inline">AMANGOUA</span>
            <span class="small inline">AMANGOUA</span>
          </div>
        </div>
      </div>
    </div>
    <script>
      // LENIS JS
      import Lenis from "lenis";
      const lenis = new Lenis();

      lenis.on("scroll", (e) => {});
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);

      // create a function to update the date and time
      function updateDateTime() {
        // create a new `Date` object
        const now = new Date();

        // get the current date and time as a string
        const currentDateTime = now
          .toLocaleString("fr-FR", {
            timeZone: "UTC",
            timeStyle: "long",
          })
          .slice(0, 8);

        // update the `textContent` property of the `span` element with the `id` of `datetime`
        document.querySelector("#datetime").textContent = currentDateTime;
      }

      // call the `updateDateTime` function every second
      setInterval(updateDateTime, 1000);
    </script>
  </body>
</html>
